@import url(style.css);
@import url(components/color-swatches.css);
@import url(components/buttons.css);
@import url(components/code-snippet.css);

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.social-icon {
  width: 75px;
}