@import url(style.css);
.container {
  display: grid;
  grid-template-areas: 'h' 'n' 'c' 'f';
}

@media screen and (min-width: 850px) {
  .container {
    display: grid;
    grid-template-areas: 'h h' 'n c' 'n c' 'f f';
    grid-template-columns: auto 1fr;
    column-gap: 10px;
  }
  .nav-item {
    float: none;
  }
  .nav-button {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .nav-item {
    float: none;
  }
  .nav-button {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.blogpost-card {
  position: relative;
  height: 500px;
  width: 300px;
  box-shadow: 0 0 9px #888;
}

.blogpost-photo {
  background-image: url(../images/placeholder.png);
  background-position: center;
  background-size: cover;
  height: 50%;
}

.blog-title {
  grid-area: h;
}

.foot {
  grid-area: f;
}

.navigation {
  grid-area: n;
}

.post-photo1 {
  background-image: url(../images/birbs.JPG);
}

.post-photo2 {
  background-image: url(../images/Empuria.jpg);
}

.post-photo3 {
  background-image: url(../images/Hibiskus.jpg);
}

.blogpost-title {
  text-align: center;
}

.blogpost-text {
  margin-inline: 2%;
}

.read-more {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.posts-container {
  justify-self: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1%;
  gap: 20px;
  grid-area: c;
}