@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html {
  font: 1em 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1.1;
}

h1 {
  font: 700 2em;
  color: #f9ad6a;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  color: #d46c4e;
  border-bottom: 1px solid #d46c4e;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

a {
  color: #43978d;
}

q {
  font-style: italic;
}

hr {
  border: 1px solid #264d59;
  margin-block: 1em;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

li::marker {
  color: #43978d;
}

